@import "@tabler/core/src/scss/tabler";
@import "@tabler/core/src/scss/vendor/tom-select";

// tabler overrides
:root {
    --page-padding-bottom: 5rem;
    font-size: 18px;
}

.tooltip {
    --tblr-tooltip-max-width: 300px;
}

.sidebar .dropdown-menu .dropdown-header, .sidebar .dropdown-menu .dropdown-item {
    white-space: normal;
}

.page-body {
    padding-bottom: var(--page-padding-bottom);
}

.sidebar.navbar-nav {
    gap: 0.2rem;
    padding-bottom: var(--page-padding-bottom);
}

.navbar-brand-image {
    height: 3rem;
}

// no arrows in number input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
